doctype html
html
  head
    title Twitter Sentiment Analysis
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/client.socket.io.js')
    block scripts
  body
    block content
